body{
    background-color: hsl(212, 45%, 89%);
    font-size: 80%;
    font-family: Outfit;
    text-align: center;
    
}
.container{
    display: flex;
    justify-content: center;
    
}

.QR-container{
    
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px 5px 10px;
    box-shadow: 1 1 1 rgba(0, 0, 0, 1.5);
    align-self: center;
    max-width: 14rem;
    max-height: auto;
}

.title{
    font-weight: bold;
    margin-top: 0;
    font-size: large;
   
}
.sub-title{
    color:hsl(220, 15%, 55%);
    font-size: small;
    

}
img{
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    height: auto;
}
.attribution { 
    font-size: 11px; 
    position: fixed;
    right: 40%;
    bottom: 0;

}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

